# m h  dom mon dow   command

SHELL=/bin/sh
PATH=$PATH:/home/pf2/bin

*/5	*	*	*	*	~/secrets.unhandled-exception.ru/manage.p secrets cleanup >> ~/secrets.unhandled-exception.ru/logs/secrets_cleanup.log
