body{
  background-color: #efefef;
  padding: 0 1.5rem 0 1rem;
}

.header{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  .header-brand{
    font-size: 1rem;
    font-weight: bold;
  }
  .header-brand a {color: black; text-decoration: underline;}
  .header-brand a:hover{color: #FD6E13;}

h1{font-size: 2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
a:hover{color: #FD6E13;}
a.link{text-decoration: underline;}

.footer{
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #666;
}
  .footer a{color: #666; text-decoration: underline;}
  .footer a:hover{color: #FD6E13;}

  .footer-copyrights{}

.about{
  margin-top: 1rem;
}

.article{}
  .article code{background-color: transparent; padding: 0;}
  .article pre{font-size: 0.8rem; background-color: #333; color: #eee; margin-bottom: 2rem;}
